@tailwind base;
@tailwind components;
@tailwind utilities;

.commentScroll::-webkit-scrollbar {
  width: 5px;
}

.commentScroll::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235);
  border-radius: 5px;
}
